<h1>Menu Listing</h1>

  <div class="row-fluid">
    <div class="span10">
      
      <div class="menu_table">
        
          <table class="menus">
            <tr>
              <th>Restaurant</th>
              <th>Description</th>
              <th>Food categories</th>
              <th>Image url</th>
            </tr>
          
            
              <% @menus.each do |menu| %>
              <div clas="menu_iteration">
                <tr>
                  <td><%= link_to menu.rest_name, menu %></td>
                  <td><%= menu.description %></td>
                  <td><%= menu.food_categories %></td>
                  <td><img class="img-polaroid" src="/assets/<%= menu.image_url %>"></td>
                </tr>
              </div>
              <% end %>
            
          </table>

          <div class="well"> <!--change this to menus well during css -->
            <% @menus.each do |m| %>
             <p><button type="button" class="btn btn-cat" data-toggle="button"><%= m.rest_name %></button>
            <% end %>
          </div>






        
      </div>
    </div>  
      
    <div class="span2">
        <div class="sidebar">
          <div class="sidebar-well">
            <div class="sidebar_title">
              Quick Links
            </div>
            <div class="sidebar_list">
              <ul>
                <li><%= link_to 'Edit User', edit_path %></li>
                <li><%= link_to 'Log In', login_path %></li>
                <li><%= link_to 'Log Out', logout_path %></li>
                <li><%= link_to 'New Category', new_category_path %></li>
                <li><%= link_to 'Category Index', categories_path %></li>
              </ul>
            </div>
          </div>
        </div>
    </div>  
    
  </div>

<!--class="thumbnail" data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;"-->

<br />

<%= link_to 'New Menu', new_menu_path, class: 'btn btn-inverse'%>
