<h1>Listing menus</h1>

<table>
  <tr>
    <th>Rest name</th>
    <th>Description</th>
    <th>Food categories</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menus.each do |menu| %>
  <tr>
    <td><%= menu.rest_name %></td>
    <td><%= menu.description %></td>
    <td><%= menu.food_categories %></td>
    <td><%= menu.image_url %></td>
    <td><%= link_to 'Show', menu %></td>
    <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
    <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu', new_menu_path %>
