<h1>Menu Listing</h1>

  <div class="row-fluid">
    <div class="span10">
      
      <div class="menu_table">
        
          <table class="menus">
            <tr>
              <th>Restaurant</th>
              <th>Description</th>
              <th>Food categories</th>
              <th>Image url</th>
            </tr>
          
            
              <% @menus.each do |menu| %>
              
                <tr>
                  <td><%= link_to menu.rest_name, menu %></td>
                  <td><%= menu.description %></td>
                  <td><%= menu.food_categories %></td>
                  <% if menu.image_url != nil %>
                  <td><img src="/assets/<%= menu.image_url %>"/></td>
                  <% end %>
                </tr>
               
              <% end %>
            
          </table>
        
      </div>
    </div>  
      
    <div class="span2">
        <div class="sidebar">
          <div class="well">
            <img src="/assets/pizza_joint_logo.png"/>
          </div>
        </div>
    </div>  
    
  </div>


<br />

<%= link_to 'New Menu', new_menu_path %>
