<h1>
  <%= @menu.rest_name %>
</h1>

<div class="row">
    <div class="span4">
    <img src="/assets/<%= @menu.image_url %>" width="400" height="150"/>
  </div>
  <div class="span4">
    <%= @menu.description %>
    <div class="like-button">
      <%= button_to 'Like Me ERB', :action => 'show', :id => current_user.menus%>
      <button type="button" class="btn btn-cat" data-toggle="button"><a href="#">Like Me HTML</a></button>
      <p><%=current_user.full_name%>
    </div>
  </div>
  <div class="span2">
     <div class="sidebar">
          <div class="sidebar-well">
            <div class="sidebar_title">
              Quick Links
            </div>
            <div class="sidebar_list">
              <ul>
                <li><%= link_to 'Edit User', edit_user_registration_path %></li>
                <li><%= link_to 'Log In', login_path %></li>
                <li><%= link_to 'Log Out', logout_path %></li>
                <li><%= link_to 'New Category', new_category_path %></li>
                <li><%= link_to 'Category Index', categories_path %></li>
              </ul>
            </div>
          </div>
        </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="categories-list">
      <strong>Categories:</strong> <% @menu.categories.each do |cat| %> | <%= link_to cat.name, cat %><% end %>|
    </div>    
  </div>
</div>

<%= link_to 'Edit', edit_menu_path(@menu) %>
  


