<p id="notice"><%= notice %></p>

<h1>
  <%= @menu.rest_name %>
</h1>

<div class="row ">
    <div class="span4 offset2">
    <img src="/assets/<%= @menu.image_url %>"/>
  </div>
  <div class="span4">
    <%= @menu.description %>
  </div>
  <div class="span2">
    <h2>Categories</h2>
      <strong>food categoreis </strong>
      <p><%= @menu.food_categories %>
      <p>
      <p><strong>category from relationship table</strong>
      <p>
      <% @menu.categories.each do |cat| %>
      <%= cat.name %>
      <% end %>     
  
  </div>
</div>

<%= link_to 'Edit', edit_menu_path(@menu) %>
  


