<h1>Category Listing</h1>

  <div class="row-fluid">
    <div class="span10">
      
      <div class="category_table">
        <% @category.each do |cat| %>
          <dl>
          <dt><%= cat.name %>
             <% cat.menus.each do |m| %> <dd><%= m.rest_name %> <% end %>
          </dl>
        <% end %>
      </div>
    </div>  
      
    <div class="span2">
        <div class="sidebar">
          <div class="sidebar-well">
            <div class="sidebar_title">
              Quick Links
            </div>
            <div class="sidebar_list">
              <ul>
                <li><%= link_to 'Edit User', edit_user_registration_path %></li>
                <li><%= link_to 'Log In', login_path %></li>
                <li><%= link_to 'Log Out', logout_path %></li>
                <li><%= link_to 'New Category', new_category_path %></li>
                <li><%= link_to 'Category Index', categories_path %></li>
              </ul>
            </div>
          </div>
        </div>
    </div>  
    
  </div>


<br />

<%= link_to 'New Menu', new_menu_path, class: 'btn btn-inverse'%>
