<p id="notice"><%= notice %></p>



<div class="row-fluid">
    <div class="span10">
      
      <div class="category_table">
        <h1>
          <%= @category.name %>
        </h1>
        
      </div>
    </div>  
      
    <div class="span2">
        <div class="sidebar">
          <div class="sidebar-well">
            <div class="sidebar_title">
              Quick Links
            </div>
            <div class="sidebar_list">
              <ul>
                <li><%= link_to 'Edit User', edit_user_registration_path %></li>
                <li><%= link_to 'Log In', login_path %></li>
                <li><%= link_to 'Log Out', logout_path %></li>
                <li><%= link_to 'New Category', new_category_path %></li>
                <li><%= link_to 'Category Index', categories_path %></li>
              </ul>
            </div>
          </div>
        </div>
    </div>  
    
  </div>