<!DOCTYPE html>
<html>
<head>
  <title>Menusnme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="nav_title">
        <a class ="brand" href="/home">Menus N' Me</a>
      </div>
      <% if user_signed_in? %>
      <% else %>
      <ul class="nav">
        <li><%= link_to "Sign Up", register_path%></li>
      </ul>
      <% end %>
      
    <form class="navbar-search pull-right" accept-charset="UTF-8" action="/search" method="get">
        <input id="q" name="q" type="text" class="search-query" placeholder="Search">
    </form>
  
    <div class="btn-group pull-right">
      <% if user_signed_in? %>
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Hi, <%= current_user.first_name %></button>
        <ul class="dropdown-menu">
          <li><a href="#">My Menus</a></li>
          <li><%= link_to 'Edit User', edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Log Out', logout_path %></li>
        </ul>
      <% else %>
          <div class="login-button">
            <button class="btn btn-primary">
              <%= link_to 'Log In', login_path %>
            </button>
          </div>
      <% end %>
    </div>

    </div>
  </div>

  <div class="container">
    
    <% flash.each do |type, message| %>
        <div class="alert <%= flash_class type %>">
          <button class="close" data-dismiss="alert">x</button>
          <%= message %>
        </div>
    <% end %>
      
    <%= yield %>
    
  </div>
  
  
  <div class="footer">
    This is the footer
  </div>


</body>
</html>
